/* line 1, ../sass/_main.scss */
h1.rand_num {
  text-align: center;
  margin: 40px 0px 40px 0px;
}

/* line 6, ../sass/_main.scss */
span.rand_num {
  background: #e5e5e5;
  border: 3px solid #999999;
  display: inline-block;
  padding: 5px 35px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 14, ../sass/_main.scss */
p {
  margin: 40px 0px 40px 0px;
  text-align: left;
}
