h1.rand_num {
  text-align: center;
  margin:40px 0px 40px 0px;
}

span.rand_num {
  background: $bkgrndGray;
  border: 3px solid darken($bkgrndGray, 30%);
  display: inline-block;
  padding:5px 35px;
  @include border-radius(10px);
}

p {
  margin: 40px 0px 40px 0px;
  text-align: left;
}